<!DOCTYPE web-app PUBLIC
  '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
  'http://java.sun.com/dtd/web-app_2_3.dtd'>
<web-app>

  <servlet>
    <servlet-name>getlist</servlet-name>
    <servlet-class>lcsb.binning.servlet.ClusterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>getlist</servlet-name>
    <url-pattern>/getlist</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>lcsb.binning.servlet.UploadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>

	<servlet>
     <servlet-name>log4j-init</servlet-name>
     <servlet-class>lcsb.binning.servlet.Log4jInit</servlet-class>
     <init-param>
       <param-name>log4j-init-file</param-name>
       <param-value>WEB-INF/resources/log4j.properties</param-value>
     </init-param>
     <load-on-startup>1</load-on-startup>
	</servlet> 
</web-app>